#box1{
    background-color: #17b920;
}
#box2{
background-color: #0f0fa3;
}
#box3{background-color: rgb(227, 38, 38);}
div{
    height:200px;
    width: 200px;
    border-style: dashed;
}
html,body{
    height:100%;
    width: 100%;
}
main{
    
    display: flex;
}
*{
    margin:0px;
    padding:0px;
}